// Note
#note {
    counter-reset: h1c;
    h1 {
        counter-reset: h2c; 
        counter-increment: h1c; 
        border: 1px solid $link-color; 
        border-radius: 0 10px 0 10px;
        padding: 4px 10px;
        color: $link-color;
        text-transform: uppercase;
    }
    h2 {
        counter-reset: h3c; 
        counter-increment: h2c;
        border-radius: 0 10px 0 10px;
        background: $link-color;
        color: #fff;
        padding: 4px 10px;
    }
    h3 {
        counter-reset: h4c; 
        counter-increment: h3c; 
        font-size: 2em;
        color: $link-color;
    }
    h4 {counter-reset: h5c; counter-increment: h4c; font-size: 1.6em;}
    h5 {counter-increment: h5c; font-size: 1.3em;}
    
    h1:before {content: counter(h1c, upper-roman) ". "; font-size: 0.9em;}
    h2:before {content: counter(h1c, upper-roman) "." counter(h2c, upper-alpha) ". "; font-size: 0.9em;}
    h3:before {content: counter(h1c, upper-roman) "." counter(h2c, upper-alpha) "." counter(h3c) ". "; font-size: 0.9em;}
    h4:before {content: counter(h1c, upper-roman) "." counter(h2c, upper-alpha) "." counter(h3c) "." counter(h4c, lower-alpha) ". "; font-size: 0.9em;}
    h5:before {content: counter(h1c, upper-roman) "." counter(h2c, upper-alpha) "." counter(h3c) "." counter(h4c, lower-alpha) "." counter(h5c, lower-roman) ". "; font-size: 0.9em;}
    
    h1.nocount:before, 
    h2.nocount:before, 
    h3.nocount:before, 
    h4.nocount:before, 
    h5.nocount:before { content: ""; counter-increment: none } 
  
    h2 {
        text-transform: inherit;
        font-size: $font-size-h2;
        letter-spacing: inherit;
    }
    table {
        @extend .table;
        @extend .table-striped;
    }
    .fa {
        margin-right: 0;
        
        &.fa-check-square-o, &.fa-square-o, &.fa-share-square-o, &.fa-exclamation-triangle {
            font-size: 1.2em;
            position: relative;
            top: 2px;
        }
        &.fa-exclamation-triangle {
            color: red;
            font-size: 1.2em;
        }
    }
}