{% extends "minimal-base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-sm-12 col-lg-offset-4">
        <h1>G33K-NOTES</h1>
        <div class="panel panel-default">
            <div class="panel-heading">Connexion</div>
            <div class="panel-body">
                {% if form %}
                <form action="" class="login" method="post">{% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            <div class="input-wrapper">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-block btn-lg btn-primary">
                        <i class="fa fa-sign-in"></i>&nbsp;Connexion
                    </button>
                </form>
                {% endif %}          
            </div>
        </div>
    </div>
</div>
{% endblock %}